<launch>
    <rosparam file="$(find AdaCt)/config/param.yaml" command="load"/>

    <node pkg="AdaCt" type="Transform" name="Transform" output="screen"/>
<!--     <node pkg="AdaCt" type="preprocess_new" name="preprocess_new" output="screen"/> -->
<!--     <node pkg="AdaCt" type="featureAssociation" name="featureAssociation" output="screen"/> -->
    <node pkg="rviz" type="rviz" name="adact_rviz" args="-d $(find AdaCt)/launch/rviz.rviz" />

<!--     <node pkg="AdaCt" type="lidar_odometry" name="lidar_odometry" output="screen"/> -->

    
<!--     <node pkg="rosbag" type="play" name="player"  args="/media/wjj/T7/jueying/jiulonghu/917/07.bag" /> -->
<!--     <node pkg="rosbag" type="play" name="player"  args="/home/wjj/dataset/2023_4_14/indoor_1m.bag" /> -->
<!--     <node pkg="rosbag" type="play" name="player"  args="/media/wjj/T7/jueying/sipailou/liwengzheng_huan.bag" /> -->
    <node pkg="rosbag" type="play" name="player"  args="-r 0.5 /media/wjj/T7/jueying/55lou/2023-07-01-22-06-05.bag" />
<!--     <node pkg="rosbag" type="play" name="player"  args="-r 0.5 /media/wjj/T7/M2DGR/street_07.bag" /> -->



</launch>